include MANIFEST.in
include setup.py
include CMakeLists.txt
include README.md
include LICENSE
include pyproject.toml
include jarowinkler/*.pyi
include jarowinkler/py.typed

recursive-include jarowinkler CMakeLists.txt
recursive-include jarowinkler *.hpp *.pyx *.pxd *.cxx

include extern/jarowinkler-cpp/LICENSE
recursive-include extern/jarowinkler-cpp/jaro_winkler *.hpp
